{{> head}}

<header>
    {{> navBar}}
</header>

<div class="row">
    <div class="col-8">
        <h1>Imagen prrona</h1>
    </div>

    <div class="col-4">
        <img src="assets/671411.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}